@CHARSET "UTF-8";
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    padding-top: 50px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #337ab7
}

.centered {
    margin: 0 auto;
}

.post {
    background-color: #f4f8f9;
    border-radius: 5px;
}

.border {
    border: #eee 1px solid;
    border-radius: 3px;
}

.col {
    padding-left: 0;
    padding-right: 0;
}

.img-responsive {
    margin: 0 auto;
    padding: 20px 20px;
}

.score {
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.post-footer {
    padding-bottom: 10px;
    padding-left: 20px;
}

.glyphicon-menu-hamburger {
    color: #337ab7;
}

.vote-down {
    padding-left: 13px;
    padding-right: 14px;
}

.post-top {
    padding-bottom: 10px;
    padding-left: 20px;
}

.form-control {
    margin-bottom: 5px;
}

.glyphicon-log-in, .glyphicon-user{
    margin-right: 5px;
}

.navbar-nav >li > a:hover {
    background-color: #f4f8f9;
}


/*
Login and Register form
 */
.panel-login {
    margin-top: 20px;
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
     color: #337ab7;
     font-size: 18px;
 }
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #337ab7;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #337ab7;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #4286f4;
    border-color: #4286f4;
}

.btn-register {
    background-color: #337ab7;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #337ab7;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #4286f4;
    border-color: #4286f4;
}
.notification {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.left-line {
    border-left: 1px solid #e5e5e5;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.box {
    display: block;
    min-width: 300px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}

.upload-options {
    height: 75px;
    background-color: #337ab7;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    -webkit-transition: background-color ease-in-out 150ms;
    transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
    background-color: #4286f4;
}
.upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.upload-options label {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
}
.upload-options label::after {
    content: 'add';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    color: #e6e6e6;
    top: calc(50% - 2.5rem);
    left: calc(50% - 1.25rem);
    z-index: 0;
}

.js--image-preview {
    height: 225px;
    width: 100%;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
}
.js--image-preview::after {
    content: "photo_size_select_actual";
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
}

.js--image-preview.special::after {
    content: "";
}

#output {
    max-width: 300px;
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
